
    #modalview-login-button,
    #modalview-reg-button,
    #modalview-open-button {
        display: block;
        text-align: center;
        margin: .6em .8em 0;
        font-size: 1.2em;
    }

    #modalview-open-button {
        margin: 0 3em;
        padding: .5em;
    }


    #mainview img {
        display: block;
        margin: 30px auto;
    }

    #mainview .km-content{
        text-align: center;
        background-color: #FFF;
        background-image: url(images/jtech_logo.png), url(images/grass.png), url(images/sky.jpg);
        background-position: left top, right bottom, right top;
        background-repeat: no-repeat;
    }

    .km-ios #mainview .km-button,
    .km-ios #modalview-login .km-button,
    .km-ios #modalview-camera .km-navbar,
    .km-ios #modalview-login .km-header {
        background-color: #000;
    }

    .km-ios #mainview .km-button:active,
    .km-ios #modalview-camera .km-state-active,
    .km-ios #modalview-login .km-button:active,
    .km-ios #modalview-login .km-state-active {
        background-color: #2e2e2e;
    }

    .km-ios #modalview-login #modalview-login-button {
        background-color: Green;
    }

    .km-tablet .km-ios #mainview .km-view-title, .km-tablet .km-ios #modalview-login .km-view-title {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.5);
    }